<html>
<head>
  <title>INIpay Mobile WEB example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <script language="javascript">
    function on_pay() {
      myform = document.mobileweb;
      myform.action = 'https://mobile.inicis.com/smart/payment/';
      myform.target = '_self';
      myform.submit();
    }
  </script>
</head>

<body>
<!-- 인코딩 euc-kr 필수 -->
<form name="mobileweb" method="post" accept-charset="utf-8">
  <!--*************************필수 세팅 부분************************************-->

  <!-- 리턴받는 가맹점 URL 세팅 -->
  <input
          type="text"
          name="P_NEXT_URL"
          value="http://localhost:3000/result"
  />

  <!-- 지불수단 선택 (신용카드,계좌이체,가상계좌,휴대폰) -->
  <input type="text" name="P_INI_PAYMENT" value="CARD"/>

  <!-- 복합/옵션 파라미터 -->
  <input
          type="text"
          name="P_RESERVED"
          value="twotrs_isp=Y&block_isp=Y&twotrs_isp_noti=N"
  />
  <!-- 에스크로옵션 : useescrow=Y -->

  <input type="text" name="P_MID" value="INIpayTest"/>
  <!-- 에스크로테스트 : iniescrow0, 모바일빌링(정기과금)은 별도연동필요 -->
  <input type="text" name="P_OID" value="test_oid_123456"/>
  <input type="text" name="P_GOODS" value="테스트상품"/>
  <input type="text" name="P_AMT" value="1000"/>
  <input type="text" name="P_UNAME" value="테스터"/>

  <!--*************************선택 필수 세팅 부분************************************-->

  <!-- 가상계좌 입금 노티 사용시 필수 -->
  <input type="text" name="P_NOTI_URL" value=""/>

  <!-- 휴대폰결제 필수 [1:컨텐츠, 2:실물] -->
  <input type="text" name="P_HPP_METHOD" value="1"/>

  <input type="button" name="pay" value="결제" onClick="on_pay()"/>
</form>
</body>
</html>
